.gallery-row {
    position: relative;
    margin: 0 15px !important;
}

.new-line {
    position: absolute;
    top: 12.5rem;
}

.new-line-1 {
    padding-left: 7.2rem !important;
}

.new-line-2 {
    padding-left: 20.2rem !important;
}

.new-line-3 {
    padding-left: 33.1rem !important;
}

.new-line-4 {
    padding-left: 46.1rem !important;
}

.new-line-5 {
    padding-left: 59.1rem !important;
}

.load-more {
    justify-content: center;
    padding-top: 100px;
}
